{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alterar inscrição</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Salvar" />
    {{ form_end(edit_form) }}

           
	{{ form_start(delete_form) }}
		<input  class="btn btn-danger" type="submit" value="Excluir">
	{{ form_end(delete_form) }}
    
{% endblock %}
