{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de inscrições</h1>

    <table class="table .table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Colégio atual</th>
                <th>Série</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for inscricao in inscricaos %}
            <tr>
                <td><a href="{{ path('inscricao_show', { 'id': inscricao.id }) }}">{{ inscricao.id }}</a></td>
                <td>{{ inscricao.nome }}</td>
                <td>{{ inscricao.email }}</td>
                <td>{{ inscricao.colegioAtual }}</td>
                <td>{{ inscricao.serie }}</td>
                <td>
                        
                          <a class="btn btn-info" href="{{ path('inscricao_show', { 'id': inscricao.id }) }}">Visualizar</a>
                          <a class="btn btn-primary" href="{{ path('inscricao_edit', { 'id': inscricao.id }) }}">Alterar</a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
            <a class="btn btn-success" href="{{ path('inscricao_new') }}">Cadastrar inscrição</a>
       
    </ul>
{% endblock %}
