{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cadastrar inscrição</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success"  type="submit" value="Salvar" />
    {{ form_end(form) }}

{% endblock %}
