{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visualizar Inscrição</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscricao.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ inscricao.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inscricao.email }}</td>
            </tr>
            <tr>
                <th>Colegioatual</th>
                <td>{{ inscricao.colegioAtual }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ inscricao.serie }}</td>
            </tr>
        </tbody>
    </table>

    
        
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        
   
{% endblock %}
